{% extends "layout.html" %}

{% block content %}
  <section name="formSection">
    {% if form %}
      <form id="bordaScoringSettings" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="pannel-heading">
            <h3 class="panel-title">Candidates</h3>
          </div>
          <div class="panel panel-default">
            <table class="table" id="candidate_table">
              <tr>
                <td>{{ form.irrelevant_candidate_a.label }}</td>
                <td>{{ form.irrelevant_candidate_a(class_="form-control") }}</td>
                <td>{{ form.irrelevant_color.label }}</td>
                <td>{{ form.irrelevant_color(class_="form-control") }}</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>{{ form.irrelevant_candidate_b.label }}</td>
                <td>{{ form.irrelevant_candidate_b(class_="form-control") }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>{{ form.preferred_candidate_a.label }}</td>
                <td>{{ form.preferred_candidate_a(class_="form-control") }}</td>
                <td>{{ form.preferred_color_a.label }}</td>
                <td>{{ form.preferred_color_a(class_="form-control") }}</td>
                <td>{{ form.strategic_count_for_a.label }}</td>
                <td>{{ form.strategic_count_for_a(class_="form-control") }}</td>
              </tr>
              <tr>
                <td>{{ form.preferred_candidate_b.label }}</td>
                <td>{{ form.preferred_candidate_b(class_="form-control") }}</td>
                <td>{{ form.preferred_color_b.label }}</td>
                <td>{{ form.preferred_color_b(class_="form-control") }}</td>
                <td>{{ form.strategic_count_for_b.label }}</td>
                <td>{{ form.strategic_count_for_b(class_="form-control") }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="form-group">
          <div class="panel-heading">
            <h3 class="panel-title">Seed</h3>
          </div>
          <div class="panel panel-default">
            <table class="table" id="candidate_table">
              <tr>
                <td>{{ form.start_seed_field.label }}</td>
                <td>{{ form.start_seed_field(class_="form-control") }}</td>
                <td>{{ form.end_seed_field.label }}</td>
                <td>{{ form.end_seed_field(class_="form-control") }}</td>
              </tr>
            </table>
          </div>
        </div>
         <div class="form-group">
          {{ form.submit_run(class_="btn btn-primary form-control") }}
        </div>
      </form>
    {% elif output %}
      <div class="container">
        <p>Preferred candidates are: <span style="color: {{formdata.preferred_color_a}}">{{ formdata.preferred_candidate_a }}</span> and <span style="color: {{formdata.preferred_color_b}}">{{ formdata.preferred_candidate_b }}</span>.</p>
        
        <p>Irrelevant candidates are: <span style="color: {{formdata.irrelevant_color}}">{{ formdata.irrelevant_candidate_a }}</span> and <span style="color: {{formdata.irrelevant_color}}">{{ formdata.irrelevant_candidate_b }}</span>.</p>
        
        <p><span style="color: {{formdata.preferred_color_a}}">{{ formdata.preferred_candidate_a }}</span> has {{formdata.strategic_count_for_a}} voters committing strategic votes for them and against <span style="color: {{formdata.preferred_color_b}}">{{ formdata.preferred_candidate_b }}</span>.</p>
        
        <p><span style="color: {{formdata.preferred_color_b}}">{{ formdata.preferred_candidate_b }}</span> has {{formdata.strategic_count_for_b}} voters committing strategic votes for them and against <span style="color: {{formdata.preferred_color_a}}">{{ formdata.preferred_candidate_a }}</span>.</p>
        
        <p>Seed range for pseudo-random number generator was: {{ formdata.start_seed_field }} to {{ formdata.end_seed_field }}</p>
        
        <p>Assestion that fractional scoring algorithm defeated strategic voting in Borda Count (where the standard N-1 algorithm yielded to strategic voting) held in {{ output.assertionPass}} / {{ formdata.start_seed_field|abs + formdata.end_seed_field|abs}} cases.</p>
      </div>
    {% endif %}
  </section>
{% endblock %}
{% block js_scripts %}
    {{ super() }}
{% endblock %}
