{% extends "layout.html" %}
{% block content%}
  <section name="formSection">
    {% if form %}
      <form id="randomCondorcetSettings" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.number_of_voters.label }}
          {{ form.number_of_voters(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.submit_run(class_="btn btn-primary form-control") }}
        </div>
      </form>
    {% elif output %}
    <p>The contest is among {{output['choices']}}</p>
    <div class="container">
      <ul class="list-group">
        {% for msg in output['msgs'] %}
          <li class="list-group-item">{{msg|safe}}</li>
        {% endfor %}
      </ul>
    </div>
    <p>So therefore, the outcome is: {{output['results']}}</p>
    {% endif %}
  </section>
{% endblock %}