{% extends "layout.html" %}
{% block content%}
  <section name="formSection">
    {% if form %}
      <form id="randomCondorcetSettings" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="panel-heading">
            <h3 class="panel-title">{{ form.candidates.label }}</h3>
          </div>
          <div class="panel panel-default">
            <!-- <div class="panel-body"> --> <table class="table" id="candidate_table">
              {% for candidate, color in cand_colors %}
                <tr> 
                  {% if loop.index0 < 2 %}
                    <td>{{ candidate.label }}:</td>
                    <td>{{ candidate(class_="form-control") }}</td>
                    <td>{{ color.label }}:</td>
                    <td>{{ color(class_="form-control") }}</td>
                    <td></td>
                  {% else %}
                    <td>{{ candidate.label }}:</td>
                    <td>{{ candidate(class_="form-control") }}</td>
                    <td>{{ color.label }}:</td>
                    <td>{{ color(class_="form-control") }}</td>
                    <td><button type="button" class="btn btn-default btn-sm remove_candidate"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                  {% endif %}
                </tr>
              {% endfor %}
            <!--</div> --></table>
          </div>
          <button type="button" class="btn btn-default btn-lg" id="add_candidate">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add candidate
          </button>
        </div>
        <div class="form-group">
          {{ form.number_of_voters.label }}
          {{ form.number_of_voters(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.seed_field.label }}
          {{ form.seed_field(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.submit_run(class_="btn btn-primary form-control") }}
        </div>
      </form>
    {% elif output %}
    <p>The contest is among {{output['choices']}}</p>
    <div class="container">
      <ul class="list-group">
        {% for contest in output['contests'] %}
          <li class="list-group-item">{{contest|safe}}</li>
        {% endfor %}
      </ul>
    </div>
    <p>
      Seed: <strong>{{ output['seed'] }}</strong>
    </p>
    <p>So therefore, the outcome is: {{output['results']}}</p>
    {% endif %}
  </section>
{% endblock %}
{% block js_scripts%}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/random_condorcet.js') }}"></script>
{% endblock %}